/***********************************************************************
 *** Atlas Grotesk *****************************************************
 ***********************************************************************/

@font-face {
  font-weight: 400;
  font-family: 'Atlas Grotesk';
  src: url('~/fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'Atlas Grotesk';
  src: url('~/fonts/AtlasGrotesk-RegularItalic-Web.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-family: 'Atlas Grotesk';
  src: url('~/fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: 'Atlas Grotesk';
  src: url('~/fonts/AtlasGrotesk-MediumItalic-Web.woff2') format('woff2');
}

/***********************************************************************
 *** Maison ************************************************************
 ***********************************************************************/

@font-face {
  font-weight: 400;
  font-family: 'Maison';
  src: url('~/fonts/MaisonNeueWEB-Book.woff2') format('woff2');
}

@font-face {
  font-style: italic;
  font-family: 'Maison';
  src: url('~/fonts/MaisonNeueWEB-BookItalic.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-family: 'Maison';
  src: url('~/fonts/MaisonNeueWEB-Demi.woff2') format('woff2');
}

:root {
  --navy: #001f3f;
  --blue: #0074d9;
  --aqua: #7fdbff;
  --teal: #39cccc;
  --olive: #3d9970;
  --green: #2ecc40;
  --lime: #01ff70;
  --yellow: #ffdc00;
  --orange: #ff851b;
  --red: #ff4136;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --maroon: #85144b;
  --white: #ffffff;
  --silver: #dddddd;
  --black: #111111;

  --blue1: #0e5a8a;
  --blue2: #106ba3;
  --blue3: #137cbd;
  --blue4: #2b95d6;
  --blue5: #48aff0;

  --black: #10161a;
  --white: #ffffff;

  --dark-grey1: #182026;
  --dark-grey2: #202b33;
  --dark-grey3: #293742;
  --dark-grey4: #30404d;
  --dark-grey5: #394b59;
  --grey1: #5c7080;
  --grey2: #738694;
  --grey3: #8a9ba8;
  --grey4: #a7b6c2;
  --grey5: #bfccd6;
  --light-grey1: #ced9e0;
  --light-grey2: #d8e1e8;
  --light-grey3: #e1e8ed;
  --light-grey4: #ebf1f5;
  --light-grey5: #f5f8fa;

  --blue: #008aff;

  --spacing: 16px;
  --spacing-xxsmall: calc(var(--spacing) / 8);
  --spacing-xsmall: calc(var(--spacing) / 4);
  --spacing-small: calc(var(--spacing) / 2);
  --spacing-base: calc(1 * var(--spacing));
  --spacing-large: calc(2 * var(--spacing));
  --spacing-xlarge: calc(3 * var(--spacing));
  --spacing-xxlarge: calc(4 * var(--spacing));

  --monospace: 'Roboto Mono';
  --accent-font: 'Maison',
    'Roboto',
    -apple-system,
    system-ui,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    Icons16,
    sans-serif;
  --primary-font: 'Atlas Grotesk', 'Maison', 'PT Serif', serif;
}
