@import '../../../components/variables.css';

:root {
  --title--line-height: 1.2em;
  --title--font-size: 2em;
  --subtitle--font-size: 1.3em;
}
.wrapper {
  padding-top: 48px;
  background: var(--background);
  height: calc(100%);
  overflow: hidden;
  border: 2px solid red;
}

textarea.input {
  min-height: var(--title--font-size);
  max-width: 750px;
  float: right;
  resize: none;
  margin-right: -48px;
  background: transparent;
  padding: 0 30px 0 0;
  overflow-y: auto;
  box-shadow: none;
  width: 100%;
  float: right;
  max-width: 750px;
  font-family: var(--monospace);
  font-size: .95em;
  border: none;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

textarea.title {
  line-height: var(--title--line-height);
  font-size: var(--title--font-size);
  font-weight: bold;
  margin-top: 0 !important;
  &::placeholder {
    font-weight: bold;
  }
}

textarea.subtitle {
  font-size: var(--subtitle--font-size);
  font-style: italic;
  background: var(--background);
  &::placeholder {
    font-style: italic;
  }
}

.md-title {
  font-weight: 700;
  line-height: 1.05em;
}

.md-subtitle {
  letter-spacing: .5;
  color: var(--grey1);
  font-weight: 300;
}

/********************/

.page {
  padding-top: 48px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.pane--constrained {
  flex: 0 1 1;
  padding-bottom: 12px;
}

.pane--bottom {
  display: flex;
  height: 100%;
  // background: color(blue alpha(10%));
  // border: 5px solid color(blue alpha(30%));
}
