@import '../variables.css';

.nav-wrapper {
  border-bottom: 2px solid var(--light-grey4);
  background: var(--white);
  z-index: 2;
  height: 48px;
  position: fixed;
  width: 100%;
}

.nav {
  margin: auto;
  margin-right: 12px;
  display: flow-root;
}

.main {
}
