@import '../variables.css';

.nav-wrapper {
  border-bottom: 2px solid var(--light-grey5);
  background: white;
  height: 48px;
  position: fixed;
  width: 100%;
}

.nav {
  margin: auto;
  max-width: var(--wrapper);
  display: flow-root;
}

.main {
}
