@import '../variables.css';

textarea.editor {
  resize: none;
  background: transparent;
  padding: 0 30px 48px 0;
  padding-top: 30px;
  margin-right: -48px;
  width: 100%;
  float: right;
  height: 100%;
  max-width: 750px;
  font-family: var(--monospace);
  font-size: .95em;
  border: none;
  &::placeholder {
    color: var(--grey1);
  }
  &:focus {
    outline: none;
  }
}
