@import '..//variables.css';

:root {
  --cursor-spacing: 0;
}

/***********************************************************************
 CodeMirror (global)
************************************************************************/

:global .markdownEditor-global .editor-toolbar {
  /*
  border: none;
  padding: 12px 0;
  */
}

:global .markdownEditor-global .CodeMirror {
  max-height: 400px !important;
  padding: 0;
}

:global .markdownEditor-global .code {
  margin: 10px;
  borer: 1px solid red;
}

:global .markdownEditor-global .CodeMirror.CodeMirror-fullscreen {
  max-height: none !important;
}

:global .markdownEditor-global .CodeMirror-scroll {
  max-height: 340px;
  padding: 5px;
}

:global .markdownEditor-global .CodeMirror-gutters {
  left: 0;
  width: 2.5em;
}

:global .markdownEditor-global .CodeMirror-linenumber {
  width: auto !important;
  left: 0 !important;
}

:global .markdownEditor-global .CodeMirror-foldmarker :after {
  content: '…';
}

:global .markdownEditor-global .CodeMirror-foldmarker {
}

:global .markdownEditor-global .CodeMirror.CodeMirror-fullscreen .CodeMirror-scroll {
  max-height: none !important;
}

:global .markdownEditor-global .CodeMirror-line {
  box-shadow: none;
}

:global .markdownEditor-global .CodeMirror-placeholder {
  margin-left: var(--cursor-spacing);
}

:global .markdownEditor-global .CodeMirror-activeline-background {
  background: none;
}

:global .markdownEditor-global .CodeMirror-cursor {
  border-left: 1px solid #aaa;
  margin: 0 var(--cursor-spacing);
}

:global .markdownEditor-global img {
  margin: 12px;
  border: 1px solid #ddd;
}

:global .markdownEditor-global img[src*='#right'] {
  float: right;
}

:global .markdownEditor-global img[src*='#left'] {
  float: left;
}

/** NOTE: This gutter defines the clickable zone, not the foldgutter arrow icon. **/
:global .CodeMirror-foldgutter.CodeMirror-gutter {
  width: 2.6em;
}

:global .CodeMirror-guttermarker-subtle {
}

:global .CodeMirror-foldgutter-open:after, :global .CodeMirror-foldgutter-folded:after {
  cursor: pointer;
  font-size: 2em;
  margin-left: 8px;
}

:global .markdownEditor-global pre > code {
  background: none;
  border: none;
  box-shadow: none;
}

:global .markdownEditor-global pre,
:global .markdownEditor-global .editor-preview pre,
:global .markdownEditor-global .editor-preview-side pre,
:global .markdownEditor-global code {
  display: flex;
  font-family: var(--monospace);
  font-size: 0.9em;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2);
  background: rgba(255, 255, 255, 0.7);
  color: #5c7080;
}

/** Generic line **/
:global .markdownEditor-global .CodeMirror-line {
}

/** Active line **/
:global .markdownEditor-global .CodeMirror-activeline .CodeMirror-line {
  opacity: 1;
}

:global .editor-preview-side {
  & h2, & pre {
    display: flex;
  }
  & h2 {
    color: var(--dark-grey5);
    font-weight: bold;
    border-bottom: 1px solid var(--light-grey2);
    padding-bottom: var(--spacing);
  }
  & h2, & h3, & h4, & h5, & h6 {
    margin-top: calc(var(--spacing) * 2);
    margin-bottom: calc(var(--spacing) * .75);

    &:first-child {
      margin-top: calc(var(--spacing) * .5);
    }
  }
  & h3, & h4, & h5, & h6 {
    margin-top: var(--spacing);
    margin-bottom: calc(var(--spacing) * .5);
  }
  & > * {
    margin-top: calc(var(--spacing) * 1.25);
    margin-bottom: calc(var(--spacing) * .75);
  }

  & a {
    text-decoration: none;
    border-bottom: 1px solid color(var(--blue2) alpha(-70%));
  }
  & a:hover {
    text-decoration: none;
    border-bottom: 1px solid color(var(--blue2) alpha(-50%));
  }

  & pre, & code {
    font-family: var(--monospace);
    font-size: 0.95em;
  }
}

/***********************************************************************
  MarkdownEditor component
************************************************************************/

.markdownEditor {
}
