@import '../variables.css';

.top-level-wrapper {
  background-color: var(--dark-grey5);
  line-height: 1.5em;
  min-height: 100%;
}

.centered-wrapper {
  padding: 8px 24px;
  margin: auto;
  max-width: 950px;
}
