@import '../variables.css';

.top-level-wrapper {
  background-color: var(--light-grey5);
  line-height: 1.5em;
  min-height: 100%;
}

.centered-wrapper {
  padding: 20px 50px;
  margin: auto;
  max-width: 950px;
}
