@import '../variables.css';

.markdown {
  font-family: var(--serif);
  -webkit-font-smoothing: antialiased;
  max-width: 750px;
  padding-top: calc(.25 * var(--spacing));

  /***********************************************************************
   **** Word-breaks ******************************************************
   ***********************************************************************/

  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  /***********************************************************************
   **** Image formatting *************************************************
   ***********************************************************************/

  & img[src*='#right'] {
    float: right;
    max-width: 60%;
  }
  & img[src*='#left'] {
    float: left;
    max-width: 60%;
  }
  & img[src*='#right-small'] {
    float: right;
    max-width: 40%;
  }
  & img[src*='#left-small'] {
    float: left;
    max-width: 40%;
  }
  /***********************************************************************
   **** Footnotes ********************************************************
   ***********************************************************************/

  & li:target, & a:target {
    background-color: color(var(--yellow) alpha(-70%));
    outline: none;
    -webkit-transition: background-color .3s linear;
  }
  & :global(.footnotes) {
    font-size: .9em;
    opacity: 0.8;
  }

  /***********************************************************************
   **** Standard elements ************************************************
   ***********************************************************************/

  & h1, & h2, & h3, & h4, & h5, & h6 {
    line-height: 1em;
    -webkit-font-smoothing: default;
    font-family: var(--sans-serif);
  }
  & hr {
    border: none;
    margin-top: 52px;
    margin-bottom: 42px;
    text-align: center;
    &:before {
      font-style: italic;
      font-size: 20px;
      letter-spacing: .6em;
      content: '...';
      display: inline-block;
      margin: auto;
      color: var(--grey3);
      top: -30px;
    }
  }
  & img {
    margin: calc(1.75 * var(--spacing)) calc(2 * var(--spacing));
    margin-right: 0;
    border: 1px solid var(--light-grey1);
  }
  & h2, & pre {
    display: flex;
  }
  & h2 {
    color: var(--dark-grey5);
    font-weight: bold;
    border-bottom: 1px solid var(--light-grey2);
    padding-bottom: var(--spacing);
  }
  & h2, & h3, & h4, & h5, & h6 {
    margin-top: calc(var(--spacing) * 2);
    margin-bottom: calc(var(--spacing) * .75);
  }
  & h3, & h4, & h5, & h6 {
    margin-top: var(--spacing);
    margin-bottom: calc(var(--spacing) * .5);
  }
  & > * {
    margin-top: calc(var(--spacing) * 1.25);
    margin-bottom: calc(var(--spacing) * .75);
  }
  & ol {
    padding-left: 20px;
  }
  & ol li {
    padding: 4px 8px;
  }
  & a {
    text-decoration: none;
    border-bottom: 1px solid color(var(--blue2) alpha(-70%));
  }
  & a:hover {
    text-decoration: none;
    border-bottom: 1px solid color(var(--blue2) alpha(-50%));
  }
  & pre, & code {
    font-family: var(--monospace);
    font-size: 0.95em;
  }
  & pre {
    -webkit-box-shadow: 0px 0px 15px 0px var(--light-grey4);
    -moz-box-shadow: 0px 0px 15px 0px var(--light-grey4);
    box-shadow: 0px 0px 15px 0px var(--light-grey4);
    word-break: break-word;
    font-size: 0.9em;
    border-radius: 3px;
    border: 1px solid var(--light-grey1);
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.7);
    color: #5c7080;
    font-family: var(--monospace);
    font-size: 0.95em;
  }
}
