@import '../../../../components/variables.css';

.top-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** Line **/

.timeline {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.container {
  display: flex;
  vertical-align: middle;
  & .spacer {
    width: var(--spacing-large);
    margin: 0 5px;
    align-self: center;
    border-bottom: 2px solid color(var(--grey3) alpha(50%));
  }

  &.is-selected .spacer {
    border-bottom: 2px solid var(--blue);
    box-shadow: 0px 0px 1px 2px color(var(--grey3) alpha(10%));
  }
}

/** Items **/

.item {
  outline: none;
  display: inline;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid var(--grey2);
  border-radius: 100px;
  color: white;
  background: var(--grey3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__active, .item:hover {
  background: var(--blue2);
  border-color: var(--blue1);
}

.item__action:hover {
  background: var(--blue1);
  border-color: var(--blue1);
}

.item:hover {
  cursor: pointer;
}

/** Actions **/

.item__action {
  background: var(--blue2);
  border: 1px solid var(--blue1);
  width: 90px;
  height: 28px;
  margin-left: 12px;
}

.item__action.item__active {
  background: var(--blue1);
}

.actions {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
